<h1>學生{{user.email}}的個人頁</h1>
<hr />
<br>
<a class="navbar-brand" href="/undefined">編輯個人資訊</a>
<hr />
{{#each reservation}}
{{/each }}
<hr />
{{#each history}}
{{/each }}
<br>
<br>
{{!-- 評價 --}}
<h3>我的評價紀錄</h3>
<hr />
{{#each comment}}
<p>{{this.score}}</p>
<p>{{this.comment}}</p>
<p>{{this.createdAt}}</p>
<hr />
{{/each }}